<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css">
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>

    <style>
    html, body {
        margin: 0;
    }

    #myMap {
        height: 100vh;
        width: 100vw;
    }
    </style>

    <title>ElMapa</title>
</head>
<body>
    <div id="myMap"></div>
</body>

<script type="text/javascript">
    var map = new atlas.Map('myMap', {
        center: [-122.33, 47.6],
        zoom: 12,
        language: 'en-US',
        authOptions: {
            authType: 'subscriptionKey',
            subscriptionKey: '<Your Azure Maps Key>'
        }
    });
</script>

</html>