<!DOCTYPE html>
<html lang="en">
{% load leaflet_tags %}

<head>
    <style>

    .leaflet-container {  /* all maps */
        width:  600px;
        height: 400px;
    }

    #specialbigmap {
        height: 800px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }

</style>
    {% leaflet_js %}
    {% leaflet_css %}
    <meta charset="UTF-8">
    <title>leafletExample</title>
</head>
<body>
    {% leaflet_map "mymap" callback="window.map_init_basic" %}
</body>
</html>

<script type="text/javascript">
    function map_init_basic (map, options) {
        map = L.map('map').fitWorld();
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18
        }).addTo(map);
    }
</script>