{% extends 'parking/base.html' %}

{% block header %}
    <title>MainMapView</title>

    <script type="text/javascript">
        // We create and initialize the map
        function myMap() {
            let mapProp = {
                center: new google.maps.LatLng(36.719101, -4.420083),
                zoomControl: true,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: false,
                zoom: 14,
            };
            window.map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            //let map to do it local


            // We geolocate the user
            navigator.geolocation.getCurrentPosition(
                function getLatLon(position){
                    let latitude = position.coords.latitude;
                    let longitude = position.coords.longitude;

                    //here we'll move the map to the user location
                    map.panTo(new google.maps.LatLng(latitude, longitude));

                    let userLocation = {
                        'lat': latitude,
                        'lng': longitude,
                    };

                    // after locating the user we can put a marker on his position
                    let userMark = new google.maps.Marker({
                        position: userLocation,
                        map: map,
                        title: 'you are here',
                    });
                    userMark.setMap(map);

                }, function error(msg){
                    alert('Geolocation is not enabled');

                }, {timeout: 10000, enableHighAccuracy: true});


            // we finally can add a marker for each parking
            let locationsData = {{ locationsData|safe }};

            for(let i = 0; i < Object.keys(locationsData).length; i++){
                if(locationsData[i].geometry.coordinates[1] !== 0){
                    let parking =  {lat:locationsData[i].geometry.coordinates[1],
                                    lng:locationsData[i].geometry.coordinates[0]};
                    let marker = new google.maps.Marker({
                        position: parking,
                        map: map,
                        title: locationsData[i].properties.name});
                    marker.setMap(map);
                }
            }
        }
    </script>

    <script id="apikey" async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmSgcdFBstr0iulZUzGm8AfTnIjVGSFEQ&callback=myMap">
    </script>
{% endblock %}


{% block content %}

    <!-- 1st container -->

    <div class="container-fluid text-center">
        <div class="row">

            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-body embed-responsive embed-responsive-4by3">
                        <div id="map-container" class="embed-responsive-item">
                            <div id="googleMap" style="width:100%;height:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-1">
                        <form class="form-inline">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    Filter
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a role="menuitem">ID</a></li>
                                    <li><a role="menuitem">name</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </div>
                </div>

                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-borderless-responsive table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Parking</th>
                            <th scope="col">Free Spots</th>
                            <th scope="col">Address</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in parkingList %}
                            <tr class="table-row" data-href="{% url 'parkings:details' idParking=item.id %}">
                                {% for key, value in item.items %}
                                    {% if key == 'id' %}
                                        <th scope="row">{{ value }}</th>
                                    {% endif %}
                                    {% if key != 'id' %}
                                        <td>{{ value }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- 2nd Container-->

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-home"></span>
                <h4>Registered Parkings</h4>
                <p>{{ counter }}</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-lock"></span>
                <h4>Available Spots</h4>
                <p>{{ availableSpots }}</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-lock"></span>
                <h4>Total spots</h4>
                <p>{{ totalSpots }}</p>
            </div>
        </div>
        <br><br>

    </div>

{% endblock %}
